@font-face{
    font-family:"ok";
    src: url(fonts/optima-demibold.ttf)
     format("truetype");
}
*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: #232429;
   height: 100vh;
}
nav{
    background-color: #580E39;
}
main{
    max-width: 1166px;
    margin: auto;
    background-color: black;
    margin-top: 0px;
    box-shadow: 0px 15px 13px 10px rgb(0 0 0 / 67%)

}
.ifr{
background-image: linear-gradient(to bottom,#A9CAEB,#CBBEC5);
background-repeat: no-repeat;
background-position: top center;
position: relative;
padding-bottom: 40%;
margin: auto;
max-width: 995px;
border-left:solid#3F6A95;
border-right:solid#3F6A95;
border-bottom:solid#3F6A95 ;

}
iframe{
position: absolute;
top: 10%;
left: 18%;
width: 64%;
height: 74%;
bottom: 10%;
box-shadow: 0px -1px 12px 4px;
border: solid 2.5px #7E3B65;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 1000px;
    height: 500px;
    border: solid #3F6A95;

}
th,td{
    border: 2px solid black;
    color: white;
    font-family: "ok";
    font-size: 1.2em;
}
td{
    letter-spacing: 2px;
}
tr:nth-child(2n){
    background-color: black;
}
tr:nth-child(odd){
    background-color: #505967;
}
th{
    padding: 20px;
    border: #580E39 solid 3px;
    letter-spacing: 5px;
    background-color: black;
}
td{
    text-align: center;
}
p{
    color: white;
}
#cont{
    overflow-x: auto;
    margin: auto;
}
.q{
    color: white;
    font-size: 5em;
    font-family: "ok";
    text-align: center;
    height: 72px;
    text-shadow: 6px 4px 0px black;
}
.a{
    color: white;
    text-indent: 81px;
    text-align: center;
    font-size: 3em;
    font-family: "ok";  
    text-shadow: -4px 5px 0px black;
}
a{
    text-decoration: none;
}
.promo{
    background-color: #0D204B;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    color: black;
    font-size: 2.5em;
    font-family: ok;
    display: inline-block;
    text-decoration: line-through #704570 ;
    width: 185px;
}
.barato{
    background-color: #1F1B79;
     color: black;
    height: 400px;
    margin: auto;
    font-size: 2.5em;
    border-radius: 20px;
    font-family: ok;
    display: inline-block;
    width: 185px;
}
#mar{
    margin-top: 150px;
}
.pai{
    text-align: center;
    background-image:linear-gradient(to right,#3F6A95,#A2214B);
    box-shadow: 0px 0px 13px 10px rgb(0 0 0 / 67%);
    border-radius: 0px 0px 0px 0px;
    max-width: 1166px;
    margin: auto;

}
.oferta{
    color: white;
    max-width: 500px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    font-family: ok;
    font-weight: bolder;
    padding-left: 58px;
    padding-right: 58px;
    text-shadow:black -4px 1px;
}
